In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("data/full_dataset.csv")

In [23]:
good_features = pd.DataFrame()
good_features["Male_perc"] = data["Male:"] / (data["Male:"] + data["Female:"])

no_middle_school = ["No schooling completed",
"Kindergarten",
"1st grade",
"2nd grade",
"3rd grade",
"4th grade",
"5th grade"]
good_features["no_middle_school"] = data[no_middle_school].sum(axis=1)

no_high_school = [
"6th grade",
"7th grade",
"8th grade"]
good_features["no_high_school"] = data[no_high_school].sum(axis=1)

no_high_school_diploma = [
"9th grade",
"10th grade",
"11th grade",
"12th grade, no diploma"]
good_features["no_high_school_diploma"] = data[no_high_school_diploma].sum(axis=1)

good_features["high_school_diploma"] = data["Regular high school diploma"]

some_college = ["GED or alternative credential",
"Some college, less than 1 year",
"Some college, 1 or more years, no degree",
"Associate's degree"]
good_features["some_college"] = data[some_college].sum(axis=1)

good_features["Bachelor's degree"] = data["Bachelor's degree"]

good_features["Master's degree or more"] = data["Master's degree"] + data["Professional school degree"] + data["Doctorate degree"]

In [25]:
children = [c for c in data.columns if "Under 5 years" in c] + \
[c for c in data.columns if "5 to 9 years" in c] + \
[c for c in data.columns if "10 to 14 years" in c] 

good_features["children"] = data[children].sum(axis=1)

teenagers = [c for c in data.columns if "15 to 17 years" in c] + \
[c for c in data.columns if "18 and 19 years " in c] + \
[c for c in data.columns if "20 years" in c] + \
[c for c in data.columns if "21 years" in c] + \
[c for c in data.columns if "22 to 24 years" in c] 

good_features["teenagers"] = data[teenagers].sum(axis=1)

young_adults = [c for c in data.columns if "25 to 29 years" in c] + \
[c for c in data.columns if "30 to 34 years" in c] + \
[c for c in data.columns if "10 to 14 years" in c] 

good_features["young_adults"] = data[young_adults].sum(axis=1)

adults = [c for c in data.columns if "35 to 39 years" in c] + \
[c for c in data.columns if "40 to 44 years" in c] + \
[c for c in data.columns if "45 to 49 years" in c] + \
[c for c in data.columns if "50 to 54 years" in c] + \
[c for c in data.columns if "55 to 59 years" in c] 

good_features["adults"] = data[adults].sum(axis=1)

eldery = [c for c in data.columns if "60 and 61 years" in c] + \
[c for c in data.columns if "62 to 64 years" in c] + \
[c for c in data.columns if "65 and 66 years" in c] + \
[c for c in data.columns if "67 to 69 years" in c] + \
[c for c in data.columns if "70 to 74 years" in c] + \
[c for c in data.columns if "75 to 79 years" in c] + \
[c for c in data.columns if "80 to 84 years" in c] + \
[c for c in data.columns if "85 years and over" in c] 

good_features["eldery"] = data[eldery].sum(axis=1)

In [30]:
good_features["Less than $10,000"] = data["Less than $10,000"]

good_features["$10,000 to $29,999"] = data["$10,000 to $14,999"] + data["$15,000 to $19,999"] +\
data["$20,000 to $24,999"] + data["$25,000 to $29,999"]

good_features["$30,000 to $49,999"] = data["$30,000 to $34,999"] + data["$35,000 to $39,999"] +\
data["$40,000 to $44,999"] + data["$45,000 to $49,999"]

good_features["$50,000 to $74,999"] = data["$50,000 to $59,999"] + data["$60,000 to $74,999"] 

good_features["$75,000 to $99,999"] = data["$75,000 to $99,999"] 

good_features["$100,000 or more"] = data["$100,000 to $124,999"] + data["$125,000 to $149,999"] +\
data["$150,000 to $199,999"] + data["$200,000 or more"]

In [36]:
good_features["Family households: - 2-person household"] = data["Family households: - 2-person household"]

good_features["Family households: - 3-person household"] = data["Family households: - 3-person household"]

good_features["Family households: - 4-person household"] = data["Family households: - 4-person household"]

good_features["Family households: - 5-or-more person household"] = data["Family households: - 5-person household"] +\
data["Family households: - 6-person household"] + data["Family households: - 7-or-more person household"]

good_features["Nonfamily households: - 1-person household"] = data["Nonfamily households: - 1-person household"]

good_features["Nonfamily households: - 2-or-more person household"] = data[[c for c in data.columns if "Nonfamily households: " in c and "1-" not in c]].sum(axis=1)

In [37]:
good_features["White alone"] = data["White alone"]
good_features["Black or African American alone"] = data["Black or African American alone"]
good_features["Asian alone"] = data["Asian alone"]
good_features["Other"] = data["American Indian and Alaska Native alone"] + data["Native Hawaiian and Other Pacific Islander alone"] +\
data["Some other race alone"]
good_features["Two or more races"] = data["Two or more races:"]

In [39]:
good_features[["FELONY", "MISDEMEANOR", "VIOLATION", "FELONY_perc", "MISDEMEANOR_perc", "VIOLATION_perc"]] = data[["FELONY", "MISDEMEANOR", "VIOLATION", "FELONY_perc", "MISDEMEANOR_perc", "VIOLATION_perc"]]

In [40]:
good_features.to_csv("data/aggregated_features.csv")

In [38]:

data[[c for c in data.columns if "Built" in c]].sum(axis=0)

Built 2014 or later         4295.0
Built 2010 to 2013         38168.0
Built 2000 to 2009        205148.0
Built 1990 to 1999        120807.0
Built 1980 to 1989        154895.0
Built 1970 to 1979        238963.0
Built 1960 to 1969        411916.0
Built 1950 to 1959        438041.0
Built 1940 to 1949        341052.0
Built 1939 or earlier    1349360.0
dtype: float64

In [8]:
for c in data.columns:
    print(c)

No schooling completed
Nursery school
Kindergarten
1st grade
2nd grade
3rd grade
4th grade
5th grade
6th grade
7th grade
8th grade
9th grade
10th grade
11th grade
12th grade, no diploma
Regular high school diploma
GED or alternative credential
Some college, less than 1 year
Some college, 1 or more years, no degree
Associate's degree
Bachelor's degree
Master's degree
Professional school degree
Doctorate degree
Male:
Male: - Under 5 years
Male: - 5 to 9 years
Male: - 10 to 14 years
Male: - 15 to 17 years
Male: - 18 and 19 years
Male: - 20 years
Male: - 21 years
Male: - 22 to 24 years
Male: - 25 to 29 years
Male: - 30 to 34 years
Male: - 35 to 39 years
Male: - 40 to 44 years
Male: - 45 to 49 years
Male: - 50 to 54 years
Male: - 55 to 59 years
Male: - 60 and 61 years
Male: - 62 to 64 years
Male: - 65 and 66 years
Male: - 67 to 69 years
Male: - 70 to 74 years
Male: - 75 to 79 years
Male: - 80 to 84 years
Male: - 85 years and over
Female:
Female: - Under 5 years
Female: - 5 to 9 years
Female: - 10 to 14 years
Female: - 15 to 17 years
Female: - 18 and 19 years
Female: - 20 years
Female: - 21 years
Female: - 22 to 24 years
Female: - 25 to 29 years
Female: - 30 to 34 years
Female: - 35 to 39 years
Female: - 40 to 44 years
Female: - 45 to 49 years
Female: - 50 to 54 years
Female: - 55 to 59 years
Female: - 60 and 61 years
Female: - 62 to 64 years
Female: - 65 and 66 years
Female: - 67 to 69 years
Female: - 70 to 74 years
Female: - 75 to 79 years
Female: - 80 to 84 years
Female: - 85 years and over
Less than $10,000
$10,000 to $14,999
$15,000 to $19,999
$20,000 to $24,999
$25,000 to $29,999
$30,000 to $34,999
$35,000 to $39,999
$40,000 to $44,999
$45,000 to $49,999
$50,000 to $59,999
$60,000 to $74,999
$75,000 to $99,999
$100,000 to $124,999
$125,000 to $149,999
$150,000 to $199,999
$200,000 or more
In labor force:
In labor force: - Civilian labor force:
In labor force: - Civilian labor force: - Employed
In labor force: - Civilian labor force: - Unemployed
In labor force: - Armed Forces
Not in labor force
Family households:
Family households: - 2-person household
Family households: - 3-person household
Family households: - 4-person household
Family households: - 5-person household
Family households: - 6-person household
Family households: - 7-or-more person household
Nonfamily households:
Nonfamily households: - 1-person household
Nonfamily households: - 2-person household
Nonfamily households: - 3-person household
Nonfamily households: - 4-person household
Nonfamily households: - 5-person household
Nonfamily households: - 6-person household
Nonfamily households: - 7-or-more person household
White alone
Black or African American alone
American Indian and Alaska Native alone
Asian alone
Native Hawaiian and Other Pacific Islander alone
Some other race alone
Two or more races:
Two or more races: - Two races including Some other race
Two or more races: - Two races excluding Some other race, and three or more races
Total
Built 2014 or later
Built 2010 to 2013
Built 2000 to 2009
Built 1990 to 1999
Built 1980 to 1989
Built 1970 to 1979
Built 1960 to 1969
Built 1950 to 1959
Built 1940 to 1949
Built 1939 or earlier
FELONY
MISDEMEANOR
VIOLATION
FELONY_perc
MISDEMEANOR_perc
VIOLATION_perc